@font-face {
  font-family: iranyekanfn;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/iranyekanfn/fonts/eot/iranyekanwebboldfanum.eot");
  src: url("fonts/iranyekanfn/fonts/eot/iranyekanwebboldfanum.eot?#iefix") format("embedded-opentype"), url("fonts/iranyekanfn/fonts/woff/iranyekanwebboldfanum.woff") format("woff"), url("fonts/iranyekanfn/fonts/ttf/iranyekanwebboldfanum.ttf") format("truetype");
}
@font-face {
  font-family: iranyekanfn;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/iranyekanfn/fonts/eot/iranyekanwebthinfanum.eot");
  src: url("fonts/iranyekanfn/fonts/eot/iranyekanwebthinfanum.eot?#iefix") format("embedded-opentype"), url("fonts/iranyekanfn/fonts/woff/iranyekanwebthinfanum.woff") format("woff"), url("fonts/iranyekanfn/fonts/ttf/iranyekanwebthinfanum.ttf") format("truetype");
}
@font-face {
  font-family: iranyekanfn;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/iranyekanfn/fonts/eot/iranyekanweblightfanum.eot");
  src: url("fonts/iranyekanfn/fonts/eot/iranyekanweblightfanum.eot?#iefix") format("embedded-opentype"), url("fonts/iranyekanfn/fonts/woff/iranyekanweblightfanum.woff") format("woff"), url("fonts/iranyekanfn/fonts/ttf/iranyekanweblightfanum.ttf") format("truetype");
}
@font-face {
  font-family: iranyekanfn;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/iranyekanfn/fonts/eot/iranyekanwebregularfanum.eot");
  src: url("fonts/iranyekanfn/fonts/eot/iranyekanwebregularfanum.eot?#iefix") format("embedded-opentype"), url("fonts/iranyekanfn/fonts/woff/iranyekanwebregularfanum.woff") format("woff"), url("fonts/iranyekanfn/fonts/ttf/iranyekanwebregularfanum.ttf") format("truetype");
}
@font-face {
  font-family: iranyekanfn;
  font-style: normal;
  font-weight: 500;
  src: url("fonts/iranyekanfn/fonts/eot/iranyekanwebmediumfanum.eot");
  src: url("fonts/iranyekanfn/fonts/eot/iranyekanwebmediumfanum.eot?#iefix") format("embedded-opentype"), url("fonts/iranyekanfn/fonts/woff/iranyekanwebmediumfanum.woff") format("woff"), url("fonts/iranyekanfn/fonts/ttf/iranyekanwebmediumfanum.ttf") format("truetype");
}
@font-face {
  font-family: iranyekanfn;
  font-style: normal;
  font-weight: 800;
  src: url("fonts/iranyekanfn/fonts/eot/iranyekanwebextraboldfanum.eot");
  src: url("fonts/iranyekanfn/fonts/eot/iranyekanwebextraboldfanum.eot?#iefix") format("embedded-opentype"), url("fonts/iranyekanfn/fonts/woff/iranyekanwebextraboldfanum.woff") format("woff"), url("fonts/iranyekanfn/fonts/ttf/iranyekanwebextraboldfanum.ttf") format("truetype");
}
@font-face {
  font-family: iranyekanfn;
  font-style: normal;
  font-weight: 900;
  src: url("fonts/iranyekanfn/fonts/eot/iranyekanwebblackfanum.eot");
  src: url("fonts/iranyekanfn/fonts/eot/iranyekanwebblackfanum.eot?#iefix") format("embedded-opentype"), url("fonts/iranyekanfn/fonts/woff/iranyekanwebblackfanum.woff") format("woff"), url("fonts/iranyekanfn/fonts/ttf/iranyekanwebblackfanum.ttf") format("truetype");
}
@font-face {
  font-family: iranyekanfn;
  font-style: normal;
  font-weight: 950;
  src: url("fonts/iranyekanfn/fonts/eot/iranyekanwebextrablackfanum.eot");
  src: url("fonts/iranyekanfn/fonts/eot/iranyekanwebextrablackfanum.eot?#iefix") format("embedded-opentype"), url("fonts/iranyekanfn/fonts/woff/iranyekanwebextrablackfanum.woff") format("woff"), url("fonts/iranyekanfn/fonts/ttf/iranyekanwebextrablackfanum.ttf") format("truetype");
}
body {
  font-family: iranyekanfn !important;
  direction: ltr;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  width: 100% !important;
  font-size: 14.5px;
}

* {
  box-sizing: border-box;
  direction: ltr;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 27px;
  color: #505050;
  margin-top: 0;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, input, textarea {
  font-family: iranyekanfn !important;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  color: #003874;
}

.colorHeading {
  color: #003874;
}

.lowMargined {
  margin: 7px 0;
}

.mediumMargined {
  margin: 15px 0;
}

.highMargined {
  margin: 30px 0;
}

.extraHighMargined {
  margin: 60px 0;
}

.lowPadding {
  padding: 7px;
}

.mediumPadding {
  padding: 15px;
}

.highPadding {
  padding: 30px;
}

.sectionPadding {
  padding: 50px 0;
}
@media screen and (max-width: 768px) {
  .sectionPadding {
    padding: 30px 0;
  }
}

.centeredText {
  text-align: center;
}

.noPadding {
  padding: 0;
}

.noMargin {
  margin: 0;
}

.generalHeading h1, .generalHeading h2, .generalHeading h3, .generalHeading h4, .generalHeading h5, .generalHeading h6 {
  margin: 0;
}
@media screen and (max-width: 480px) {
  .generalHeading h2 {
    font-size: 18px;
  }
}

.bigHeading h1, .bigHeading h2, .bigHeading h3, .bigHeading h4, .bigHeading h5, .bigHeading h6 {
  font-size: 35px;
}

.mediumWeight {
  font-weight: 400;
}

.justified {
  text-align: justify;
}

.lightParagraph {
  font-weight: 200;
}

.lightText {
  color: #929292;
}

.lighterText {
  color: #a8a8a8;
}

.smallText {
  font-size: 13px;
}

.smallerText {
  font-size: 12px;
}

.lowRadius {
  border-radius: 5px;
}

.highRadius {
  border-radius: 25px;
}

.darkBorder {
  border: 1px solid #2b8b8e;
}

.lightBorder {
  border: 2px solid #eeeeee;
}

.bottomBorder {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

button {
  font-family: iranyekanfn !important;
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
  color: #5d5d5d;
}

li {
  list-style-type: none;
  margin: 7px 0;
  position: relative;
  padding-right: 12px;
  color: #505050;
}
li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #d1ab66;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
}

.darkListStyle::before {
  background-color: #054078;
}

.noListStyle {
  padding-right: 0;
}
.noListStyle::before {
  display: none;
}

.checkListStyle {
  padding-right: 20px;
}
.checkListStyle::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2340b819' width='14' height='14' viewBox='0 0 512 512'%3E%3Cpath d='M172.2 434.6a39.3 39.3 0 0 1-28.1-11.6L22.9 301.9a33.4 33.4 0 1 1 47.2-47.2l102.1 102.2L441.9 87.1a33.4 33.4 0 0 1 47.2 47.2L200.4 423a39.7 39.7 0 0 1-28.2 11.6Z'/%3E%3C/svg%3E");
  width: 14px;
  height: 14px;
  background-color: initial;
}

.crossListStyle {
  padding-right: 20px;
}
.crossListStyle::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b82819' width='12' height='12' viewBox='0 0 512 512'%3E%3Cpath d='M312.2 255.8 482 86a33.5 33.5 0 1 0-47.4-47.4L264.8 208.4 95 38.6a33.5 33.5 0 0 0-47.4 0 33.5 33.5 0 0 0 0 47.4l169.8 169.8L47.6 425.6a33.5 33.5 0 0 0 0 47.4 33.5 33.5 0 0 0 47.4 0l169.8-169.8L434.6 473a33.5 33.5 0 0 0 47.4 0 33.5 33.5 0 0 0 0-47.4Z'/%3E%3C/svg%3E");
  width: 12px;
  height: 17px;
  background-color: initial;
}

.arrowListStyle {
  padding-right: 22px;
}
.arrowListStyle::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23054078' width='16' height='16' viewBox='0 0 512 512'%3E%3Cpath d='M256 493.4a237.3 237.3 0 1 1 167.9-69.5A236.2 236.2 0 0 1 256 493.4Zm0-424.8C152.7 68.6 68.6 152.7 68.6 256S152.7 443.4 256 443.4 443.4 359.3 443.4 256 359.3 68.6 256 68.6Zm-23.6 283.2a24.9 24.9 0 0 1-17.7-7.3l-70.8-70.8h-.1a.1.1 0 0 0-.1-.1h-.2a23.2 23.2 0 0 1-4.9-7.5h-.1a24.7 24.7 0 0 1-1.9-9.4 24.8 24.8 0 0 1 2-9.5h.1a21.3 21.3 0 0 1 2.3-4.2 19.5 19.5 0 0 1 1.7-2.3h.1a8 8 0 0 1 1.3-1.3l70.6-70.7a25 25 0 0 1 35.4 35.4L222 231h128.4a25 25 0 0 1 0 50H222l28.1 28.1a25.2 25.2 0 0 1 0 35.4 24.9 24.9 0 0 1-17.7 7.3Z'/%3E%3C/svg%3E");
  width: 16px;
  height: 19px;
  background-color: initial;
}

label {
  display: block;
  margin-bottom: 15px;
  font-size: 13px;
  text-align: right;
  width: 100%;
}

input {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px 20px;
}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=url] {
  border: none;
  background-color: #eeeeee;
  border-radius: 5px;
  color: #505050;
  font-size: 14px;
  margin-right: -2px;
}
input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder {
  color: #929292;
  opacity: 0.25;
}
input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder, input[type=email]:-moz-placeholder, input[type=tel]:-moz-placeholder, input[type=url]:-moz-placeholder {
  color: #929292;
  opacity: 0.25;
}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=url]::-moz-placeholder {
  color: #929292;
  opacity: 0.25;
}
input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder {
  color: #929292;
  opacity: 0.25;
}
input[type=checkbox] {
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}
input[type=submit] {
  background-color: #d1ab66;
  color: #fff;
  border: none;
  font-weight: 400;
  padding: 15px 25px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
  font-size: 14px;
}
input[type=submit]:hover {
  background-color: #054078;
}
input:focus {
  outline: none;
}

textarea {
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 150px;
  padding: 10px 20px;
  resize: none;
  border-radius: 8px;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  color: #505050;
  font-size: 14px;
}
textarea::-webkit-input-placeholder {
  color: #929292;
  opacity: 0.25;
}
textarea:-moz-placeholder {
  color: #929292;
  opacity: 0.25;
}
textarea::-moz-placeholder {
  color: #929292;
  opacity: 0.25;
}
textarea:-ms-input-placeholder {
  color: #929292;
  opacity: 0.25;
}
textarea:focus {
  outline: none;
}

select {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #e2e5fc;
  font-family: iranyekanfn !important;
  background-color: transparent;
  margin-right: -2px;
}
select option {
  font-family: iranyekanfn !important;
}

.generalButton {
  background-color: #d1ab66;
  border-radius: 5px;
  position: relative;
  color: #fff !important;
  padding: 10px 25px 10px 45px;
  font-size: 14.5px;
  display: block;
  width: -moz-max-content;
  width: max-content;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}
.generalButton::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #fff;
  left: 15px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100%;
}
.generalButton::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d1ab66' width='10' height='10' viewBox='0 0 512 512'%3E%3Cpath d='M357.6 500.8a18.3 18.3 0 0 1-12.9-5.4L152 302.7a66.1 66.1 0 0 1 0-93.4L344.7 16.6a18.2 18.2 0 1 1 25.8 25.8L177.8 235.1a29.5 29.5 0 0 0 0 41.8l192.7 192.7a18.3 18.3 0 0 1 0 25.8 17.9 17.9 0 0 1-12.9 5.4Z'/%3E%3C/svg%3E");
  height: 24px;
  position: absolute;
  left: 19px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.generalButton:hover {
  background-color: #054078;
}

.noArrowButton {
  padding: 10px 25px;
}
.noArrowButton::before {
  display: none;
}
.noArrowButton::after {
  display: none;
}

.outlineButton {
  background-color: #fff;
  color: #505050 !important;
  border: 1px solid #f2f2f2;
}
.outlineButton:hover {
  background-color: #f2f2f2;
}

.borderNoneButton {
  border: none;
  color: #505050 !important;
  background-color: #fff;
}
.borderNoneButton:hover {
  background-color: #f2f2f2;
}

.mainBoxBack {
  background-color: #d1ab66;
  color: #fff !important;
}
.mainBoxBack p {
  color: #fff !important;
}

.darkBoxBack {
  background-color: #054078;
  color: #fff !important;
}
.darkBoxBack p {
  color: #fff !important;
}

.lightBoxBack {
  background-color: #eeeeee;
}

table {
  width: 100% !important;
  border-collapse: collapse;
  margin: 20px 0;
  border-style: hidden;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #dfdfdf;
}
table th {
  text-align: right;
  border: 1px solid rgba(13, 84, 131, 0.1);
  padding: 12px;
}
table tr:nth-child(2n+1) {
  background-color: rgba(226, 229, 252, 0.3);
}
table td {
  font-size: 13.5px;
  padding: 8px 4px;
  font-weight: 400;
  border: 1px solid rgba(13, 84, 131, 0.1);
  padding: 15px 10px;
}
table td strong {
  font-weight: 600;
}

.evaluationForm .evaluationFormStep1Section1, .evaluationForm .evaluationFormStep1Section2, .evaluationForm .evaluationFormStep2Section1, .evaluationForm .evaluationFormStep2Section2, .evaluationForm .evaluationFormStep3Section1, .evaluationForm .evaluationFormStep3Section2 {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .evaluationForm .evaluationFormStep1Section1, .evaluationForm .evaluationFormStep1Section2, .evaluationForm .evaluationFormStep2Section1, .evaluationForm .evaluationFormStep2Section2, .evaluationForm .evaluationFormStep3Section1, .evaluationForm .evaluationFormStep3Section2 {
    flex-direction: column;
  }
}
.evaluationForm .evaluationFormInner1, .evaluationForm .evaluationFormInner2, .evaluationForm .evaluationFormInner3, .evaluationForm .evaluationFormInner4, .evaluationForm .evaluationFormInner6, .evaluationForm .evaluationFormInner7, .evaluationForm .evaluationformInner8, .evaluationForm .evaluationformInner9, .evaluationForm .evaluationFormInner10, .evaluationForm .evaluationFormInner11, .evaluationForm .evaluationFormInner12, .evaluationForm .evaluationFormInner13 {
  width: 25%;
  padding: 20px 0px;
}
@media screen and (max-width: 768px) {
  .evaluationForm .evaluationFormInner1, .evaluationForm .evaluationFormInner2, .evaluationForm .evaluationFormInner3, .evaluationForm .evaluationFormInner4, .evaluationForm .evaluationFormInner6, .evaluationForm .evaluationFormInner7, .evaluationForm .evaluationformInner8, .evaluationForm .evaluationformInner9, .evaluationForm .evaluationFormInner10, .evaluationForm .evaluationFormInner11, .evaluationForm .evaluationFormInner12, .evaluationForm .evaluationFormInner13 {
    width: 100%;
  }
}
.evaluationForm .evaluationFormInner1 span input, .evaluationForm .evaluationFormInner2 span input, .evaluationForm .evaluationFormInner3 span input, .evaluationForm .evaluationFormInner4 span input, .evaluationForm .evaluationFormInner6 span input, .evaluationForm .evaluationFormInner7 span input, .evaluationForm .evaluationformInner8 span input, .evaluationForm .evaluationformInner9 span input, .evaluationForm .evaluationFormInner10 span input, .evaluationForm .evaluationFormInner11 span input, .evaluationForm .evaluationFormInner12 span input, .evaluationForm .evaluationFormInner13 span input {
  height: 46px;
}
.evaluationForm .evaluationFormInner6 span select, .evaluationForm .evaluationformInner8 span select, .evaluationForm .evaluationformInner9 span select, .evaluationForm .evaluationFormInner10 span select, .evaluationForm .evaluationFormInner11 span select, .evaluationForm .evaluationFormInner12 span select, .evaluationForm .evaluationFormInner13 span select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 5px;
  background-color: #eeeeee;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAABSElEQVR4nNWTPU7DQBCF3QA1glNAOAINVByAG3geQYgb5AqgWEEgDpBmRqGk4ecEFsySQEEFRyCQjiho7fw4eNfGdBlpmt3x5zezb4JgYcMwtgwjMoyeEXwlyeipoKmdeu3PoNfr4xUjOFehoRGMPPmtTGc93l8uhzHuC0C/864QapguKsCSVEHLO7OSNr3tP0q46QJG/4CNEpWM0zxQ6HlaxGgYoT3DGOQAyVly15idUTcHVEY/80fzcnW0phzuzEEZA3uW3sFk6vuFwLSING5j3Ui4rUKfY/DuU/twVQXxvHL6KG45A50onSkjzY+BHC0Lmu6Bp0rdyjBReJIHduo1awHnB4w3Fbz7bPPABxtOL9p1qmwbRhT4wq6RMt1W8N9NfIklL3AKFbS87Y/btMpKYUEm7DrZDbAvaG2TWoe69gG8M1uI+AFunVwYqMItXgAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-position: left 12px center;
  border: none;
}
.evaluationForm .evaluationFormStep1Section3, .evaluationForm .evaluationFormStep3Section3 {
  padding-right: 150px;
}
@media screen and (max-width: 768px) {
  .evaluationForm .evaluationFormStep1Section3, .evaluationForm .evaluationFormStep3Section3 {
    padding: 0px;
  }
}
.evaluationForm .evaluationFormStep1Section3 .evaluationFormInner5, .evaluationForm .evaluationFormStep1Section3 .evaluationFormInner14, .evaluationForm .evaluationFormStep3Section3 .evaluationFormInner5, .evaluationForm .evaluationFormStep3Section3 .evaluationFormInner14 {
  height: 46px;
  padding: 20px 0px;
  width: 28.7%;
}
@media screen and (max-width: 768px) {
  .evaluationForm .evaluationFormStep1Section3 .evaluationFormInner5, .evaluationForm .evaluationFormStep1Section3 .evaluationFormInner14, .evaluationForm .evaluationFormStep3Section3 .evaluationFormInner5, .evaluationForm .evaluationFormStep3Section3 .evaluationFormInner14 {
    width: 100%;
  }
}
.evaluationForm .evaluationFormStep1Section3 .evaluationFormInner5 span select, .evaluationForm .evaluationFormStep1Section3 .evaluationFormInner14 span select, .evaluationForm .evaluationFormStep3Section3 .evaluationFormInner5 span select, .evaluationForm .evaluationFormStep3Section3 .evaluationFormInner14 span select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 5px;
  background-color: #eeeeee;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAABSElEQVR4nNWTPU7DQBCF3QA1glNAOAINVByAG3geQYgb5AqgWEEgDpBmRqGk4ecEFsySQEEFRyCQjiho7fw4eNfGdBlpmt3x5zezb4JgYcMwtgwjMoyeEXwlyeipoKmdeu3PoNfr4xUjOFehoRGMPPmtTGc93l8uhzHuC0C/864QapguKsCSVEHLO7OSNr3tP0q46QJG/4CNEpWM0zxQ6HlaxGgYoT3DGOQAyVly15idUTcHVEY/80fzcnW0phzuzEEZA3uW3sFk6vuFwLSING5j3Ui4rUKfY/DuU/twVQXxvHL6KG45A50onSkjzY+BHC0Lmu6Bp0rdyjBReJIHduo1awHnB4w3Fbz7bPPABxtOL9p1qmwbRhT4wq6RMt1W8N9NfIklL3AKFbS87Y/btMpKYUEm7DrZDbAvaG2TWoe69gG8M1uI+AFunVwYqMItXgAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-position: left 12px center;
  border: none;
}
.evaluationForm .step4 .evaluationFormStep4Section1 label {
  text-align: center;
}
.evaluationForm .step4 .evaluationFormStep4Section1 span textarea {
  margin: 5px auto;
  height: 175px !important;
  width: 50% !important;
  background-color: #eeeeee;
  border: none;
}

.faqContainer .faqItem {
  padding: 0 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  cursor: pointer;
}
.faqContainer .faqItem .faqHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.faqContainer .faqItem .faqHeader .faqQuestion {
  margin: 0;
  font-size: 14.5px;
  font-weight: 700;
  width: calc(100% - 30px);
}
.faqContainer .faqItem .faqHeader .faqIcon {
  display: flex;
  padding: 5px;
  border-radius: 100%;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.7);
}
.faqContainer .faqItem .faqAnswer {
  font-size: 13.5px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 20px;
  display: none;
}

.aboutSectionBack .aboutSectionParent .aboutimg img {
  border-radius: 5px;
}
.aboutSectionBack .aboutSectionDesc .bigHeading {
  margin: 0;
}

.mainOverlay {
  opacity: 0;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.summarySectionParent {
  padding: 20px;
}
.summarySectionParent p {
  text-align: justify;
  line-height: 32px;
}

.serviceSectionBack .serviceBoxOne h5, .serviceSectionBack .serviceBoxOne h6 {
  margin: 20px 0px 10px 0px;
}
.serviceSectionBack .serviceBoxOne h6 {
  font-size: 14.5px !important;
}
.serviceSectionBack .serviceBoxFive .serviceGrid .text-item h5 {
  font-size: 15px;
}
.serviceSectionBack .serviceBoxFive .serviceGrid .text-item p {
  font-size: 15px;
  font-weight: 300;
}

.comments-area .comment-list {
  padding: 0;
  margin: 0;
}
.comments-area .comment-list li {
  padding: 20px;
  background-color: #fff;
  border: 2px solid #eeeeee;
  border-radius: 5px;
}
@media screen and (max-width: 480px) {
  .comments-area .comment-list li {
    padding: 15px 10px;
  }
}
.comments-area .comment-list li::before {
  content: none;
}
.comments-area .comment-list li .comment-body {
  padding: 0px 20px 20px 20px;
}
.comments-area .comment-list li .comment-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .comments-area .comment-list li .comment-meta {
    flex-direction: column;
    margin-bottom: 5px;
  }
}
.comments-area .comment-list li .comment-meta .comment-author {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .comments-area .comment-list li .comment-meta .comment-author {
    margin-bottom: 5px;
    margin-left: auto;
    font-size: 13px;
  }
}
.comments-area .comment-list li .comment-meta .comment-author img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0px 0px 5px 20px;
}
@media screen and (max-width: 480px) {
  .comments-area .comment-list li .comment-meta .comment-author img {
    width: 30px;
    height: 30px;
    margin: 0 0 5px 5px;
  }
}
.comments-area .comment-list li .comment-meta .comment-author b {
  margin-left: 5px;
}
@media screen and (max-width: 480px) {
  .comments-area .comment-list li .comment-meta .comment-metadata {
    margin-left: auto;
    font-size: 12px;
  }
}
.comments-area .comment-list li .comment-meta .comment-metadata time {
  color: #b5b5b5;
}
.comments-area .comment-list li .comment-content {
  width: 87%;
  margin: 10px auto;
}
@media screen and (max-width: 480px) {
  .comments-area .comment-list li .comment-content {
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  .comments-area .comment-list li .comment-content p {
    line-height: 23px;
  }
}
.comments-area .comment-list li .reply {
  display: flex;
  flex-direction: row-reverse;
}
.comments-area .comment-list li .reply a {
  padding: 7px 20px;
  border-radius: 5px;
  background-color: #d1ab66;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.comments-area .comment-list li .reply a:hover {
  background-color: #054078;
}
@media screen and (max-width: 480px) {
  .comments-area .comment-list li .reply a {
    font-size: 13px;
    padding: 5px 15px;
  }
}
@media screen and (max-width: 480px) {
  .comments-area .comment-list li .children {
    padding-right: 20px;
  }
}
.comments-area .comment-list li .children li .comment-body {
  padding: 0px;
}
.comments-area .comment-list li .children li .comment-metadata {
  font-size: 11px;
}/*# sourceMappingURL=additional.css.map */